@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;
    background-color: white;

    --sidebar-color: #e2e8f0;
    --border-color: #94a3b8;
    --modal-back-color: #f1f5f9;
    --hover-color: red;
    --hover-background-color: #f1f5f9;
    --sidebar-width: 250px;
    --input-altering-color: #fef3c7; 
}




.modal-add-task, .modal-add-list, 
.modal-edit-task, .modal-start-screen,
.modal-edit-list {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.55);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;

    & p {
        font-weight: bold;
    }

    & form {
        position: relative;
        top: 6%;
        height: fit-content;
        width: 400px;
        padding: 20px 50px;
        border: 2px solid var(--border-color);
        background-color: var(--modal-back-color);
        border-radius: 10px;
        display: grid;
        grid-auto-rows: max-content;
        gap: 3px;

        & h1 {
            text-decoration: underline;
            text-decoration-color: #475569;
        }

        & label {   
            font-weight: bold;
            margin-top: 10px;
        }

        & textarea, input, select {
            resize: none;
            padding: 2px 5px;
            background-color: var(--input-altering-color);
        }
    }   

}

.modal-start-screen {
    background-color: white;
    padding: 10px;
    & h1 {
        color: white;
        position: fixed;
    }

    & form {
        background-color: white;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        border: none;
        color: black;
        position: relative;
        text-align: center;

        & label {
            margin-top: 10px;
            display: grid;
            grid-template-columns: 75px 1fr 0px;
            & input {
                margin: 0 10px;
                padding-right: 25px;
                border-radius: 7px;
                border: 2px solid var(--border-color);
            }
            position: relative;
        }

        & button {
            padding: 2px 10px;
            margin-top: 15px;
            margin-left: 20px;
            width: max-content;
            align-self: center;
        }
    }

    & input:valid + span::before {
        content: '✓';
        color: green;
        position: absolute;
        right: 20px;
    }

    & input:invalid + span::before {
        content: '✗';
        color: red;
        position: absolute;
        right: 20px;
    }

    & input:placeholder-shown + span::before {
        content: '';
    }
}

.modal-shown {
    display: flex;
}

.modal-add-task h1 {
    margin-bottom: 15px;
}

.modal-add-task .radio-btns-container {
    position: absolute;
    top: 5px;
    right: -22px;
    display: grid;
    grid-template-columns: 16px 150px;
    grid-auto-rows: 22px;
    gap: 5px;
    font-size: 1.4rem;
    align-content: center;

    & input {
        margin-bottom: -10px;
    }
}


.modal-edit-task {
    & .edit-task-header {
        font-weight: bold;
        font-size: 2.2rem;
        margin-bottom: 10px;
    }

    
    & .edit-task-duedate {
        outline: 1px solid black;
        margin-bottom: 10px;
        margin-top: 5px;
    }
}

.modal-edit-task, .modal-edit-list {
    cursor: text;

    & form {
        width: min(400px, 50%);
    }

    & input, textarea, select {
        appearance: none;
        outline: none;
        background-color: var(--sidebar-color);
        font-size: 1.6rem;
        font-family: inherit;
    }

    & input:focus {
        color: darkblue;
    }

    & input:hover, textarea:hover {
        background-color: var(--hover-background-color);
    }

    & ol {
        margin-top: 10px;
        padding: 2px;
        max-height: 150px;
        overflow-y: scroll;
        width: 100%;
    }

    & ol::first-line {
        font-weight: bold;
    }

    & li {
        font-size: 1.4rem;
        margin-left: 20px;
        margin-bottom: 2px;
        width: 90%;

        & input {
            width: 100%;
        }
    }
}

.edit-task-notes-label, label {
    display: flex;
    flex-direction: column;
}

.edit-task-notes {
    margin-bottom: 50px;
}

input, button, textarea, select {
    border: 2px solid var(--border-color);
    border-radius: 5px;
}

button {
    font-size: bold;
}

.task-parts {
    border-radius: 0;
}