@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;

    --sidebar-gray: #f1f5f9;
    --border-gray: #e4e4e7;
    --hover-color: red;
    --sidebar-width: 200px;
}

main > h1 {
    margin-left: 20px;
    margin-top: 10px;
}

.no-items {
    margin: 40px 0 0 40px;
}

.tasks-container {
    display: grid;
    padding: 50px;
    gap: 20px;
}

.task-item {
    padding: 10px;
    border: 2px solid var(--border-gray);
    border-radius: 10px;
}

.task-item:hover {
    background-color: #f1f5f9;
}