@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;

    --sidebar-gray: #f1f5f9;
    --border-gray: #e4e4e7;
    --hover-color: red;
    --sidebar-width: 200px;
}


.no-items {
    margin: 40px 0 0 40px;
}