@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    font-family: Roboto, sans-serif;

    --sidebar-gray: #f1f5f9;
    --border-gray: #e4e4e7;
    --hover-color: red;
    --sidebar-width: 200px;
}

body {
    display: grid;
    font-size: 1.5rem;
    grid-template-columns: var(--sidebar-width) 1fr;

    & .sidebar {
        min-height: 100vh;
        width: var(--sidebar-width);
        background-color: var(--sidebar-gray);
        border-right: 2px solid var(--border-gray);
    }

    & main {
        flex: 1 1 300px;
    }
}

.sidebar {
    padding: 10px;
    display: grid;
    row-gap: 30px;
    grid-template-rows: max-content max-content 1fr;
    align-content: start;

    & h3 {
        margin-bottom: 5px;
        color: #1e293b;
        font-weight: bold;
    }


    & p {
        color: #475569;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 10px;
        cursor: pointer;
    }

    & p:hover {
        color: var(--hover-color);
    }

    & img {
        height: auto;
        width: 30px;
    }
}

.user-lists > h3 {
    position: relative;
    & img {
        position: absolute;
        height: 20px;
        width: 20px;
        opacity: 0.2;
        margin-left: 2px;
        cursor: pointer;
    }
    & img:hover {
        opacity: 1;
    }
}

.list-container > p {
    margin-left: 30px;
}

.current-list {
    font-weight: bold;
}

.current-list::before {
    position: absolute;
    content: '';
    background-image: url('../dist/images/arrow-right-thin.svg');   
    height: 30px;
    width: 30px;
    left: 10px;
}

.user-profile {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    height: 30px;
    font-size: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.modal-add-task, .modal-add-list {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 0, 0, 0.25);
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    justify-content: center;

    & form {
        position: relative;
        top: 6%;
        height: fit-content;
        width: 300px;
        padding: 20px;
        border: 2px solid var(--border-gray);
        background-color: var(--sidebar-gray);
        border-radius: 10px;
        display: grid;
        grid-auto-rows: max-content;
        gap: 3px;

        & h1 {
            text-decoration: underline;
            text-decoration-color: #475569;
        }

        & label {   
            font-weight: bold;
            margin-top: 10px;
        }

        & textarea, input {
            resize: none;
            padding: 2px 5px;
        }
    }

}   
/* 
.modal-add-list {
    display: flex;
} */

.hidden {
    display: none;
}

.modal-shown {
    display: flex;
}

.btn-container {
    margin-top: 25px;
    display: flex;
    justify-content: space-between;
    
    & button {
        padding: 5px 10px;
    }
}

.task-parts-container {
    max-height: 200px;
    overflow-y: auto;
}

.task-parts {
    width: 90%;
    margin-left: 10%;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    border-bottom: 1px solid black;
}

.task-parts.part-empty {
    border-color: lightgray;
}

.task-parts:focus, .task-parts:hover {
    border-color: black;
}
